    
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h2><%= @headcount.nickname %></h2>
            <h4 class='text-info mt-4'>
               Max Capacity: <%= @headcount.max_count %>
            </h4>
            <h4 data-controller='progress-bar'>
                Current Capacity: 
                <span id='<%= @headcount.stamp %>' data-target='progress-bar.progress_bar'>
                    <%= @headcount.current_count %>
                </span>
            </h4>
        </div>
    </div>
    <div class='container mb-2'>

    </div>
    <div class="container mb-5">
        <div class="accordion mb-4" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                <h2 class="mb-0 text-center">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    QR Code For Entrance Control
                    </button>
                </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body text-center">
                        <%= image_tag @entrance_img %>
                    </div>
                    <div class='card-footer text-center'>
                        <%= link_to 'Go To Entrance Control Page', pages_admin_page_path(:id => @headcount.id, :type => 'entrance'), class:'btn btn-outline-success' %>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                <h2 class="mb-0 text-center">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    QR Code For Exit Control
                    </button>
                </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body text-center">
                        <%= image_tag @exit_img %>
                    </div>
                    <div class='card-footer text-center'>
                        <%= link_to 'Go To Exit Control Page', pages_admin_page_path(:id => @headcount.id, :type => 'exit'), class:'btn btn-outline-success' %>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                <h2 class="mb-0 text-center">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    QR Code for Control on Both Entrance and Exit
                    </button>
                </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body text-center">
                        <%= image_tag @qr_img %>
                    </div>
                    <div class='card-footer text-center'>
                        <%= link_to 'Go To Control Both Entrance and Exit', pages_admin_page_path(:id => @headcount.id, :type => 'both'), class:'btn btn-outline-success' %>
                    </div>
                </div>
            </div>
        </div>

        <%= link_to 'Back', pages_my_counters_path, class:'btn btn-success btn-block' %>

    </div>
</main>
